@model IEnumerable<Core.Models.Digimon>

@{
    ViewData["Title"] = "Digimons";
}

<h1>Digimons</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.level)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
